a,
a:visited {
  text-decoration: none;
  color: darken($color-orange, 15%);
  transition: color .1s linear;
  padding: .5rem 0;

  &:hover {
    text-decoration: none;
    color: $color-orange;
  }
}